@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #20317E;
    font-family: 'SUITE', sans-serif;
    font-weight: 700;
}

body,
input,
button,
select,
textarea {
    font-family: 'SUITE', sans-serif;
    font-weight: 700;
}

/* Custom file input style */
input[type="file"]::file-selector-button {
    font-family: 'SUITE', sans-serif;
    font-weight: bold;
    color: white;
    background-color: #F1B329;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

input[type="file"]::file-selector-button:hover {
    background-color: #e3a521;
}

@font-face {
    font-family: 'Paperozi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-9Black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}

.holtwood-one-sc-regular {
    font-family: "Holtwood One SC", serif;
    font-weight: 400;
    font-style: normal;
}

#header {
    margin-top: 0;
    width: 100%;
}

body {
    overscroll-behavior: none;
    -webkit-overflow-scrolling: touch;
}

#bingo {
    width: 100%;
}

#bingoHeader {
    width: fit-content;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 10px;
}

#bingoMole {
    background-image: url('/mole.svg');
    background-size: 85.7px 66px;
    background-position: center;
    width: 85.7px;
    height: 66px;
}

#bingoScore {
    width: fit-content;
    height: 38px;
    font-size: 20px;
    background-color: #F1B329;
    border-radius: 38px;
    margin: none;
    padding: 0 20px;
    display: flex;
    align-items: center;
    border: 5px white solid;
}

#bingoBoard {
    width: calc(100% - 20px);
    aspect-ratio: 1 / 1;
    margin: 0 auto;
    padding: 0 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 8px;
    flex-shrink: 0;
}

.bingoBoardItem {
    font-family: 'Paperozi';
    background-color: #EEE9E7;
    border: white 5px solid;
    border-radius: 7%;
    color: #1B2A68;
    font-size: 18px;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}